<!-- - - - - - - - - - - - - Mobile Menu - - - - - - - - - - - - - - -->		
		<nav id="mobile-advanced" class="mobile-advanced"></nav>			
		<header id="header" class="header-2">			
			<!-- search-form -->
			<div class="searchform-wrap">
				<div class="vc-child h-inherit relative">					
					<form>
						<input type="text" name="search" placeholder="Start typing...">
						<button type="button"></button>
					</form>					
				</div>
				<button class="close-search-form"></button>
			</div>			
			<!-- top-header -->			
			<div class="top-header">				
				<div class="container">					
					<div class="row">
						<div class="col-lg-3">	
							<div class="logo-wrap">								
								<a routerLink="/" class="logo"><img src="./assets/img/logo_white.png" alt=""></a>							
							</div>							
						</div>
						<div class="col-lg-9">							
							<div class="align-right">								
								<ul class="our-info-list">
									<li>										
										<span class="licon-map-marker"></span>
										<div>											
											<p class="fw-medium">Βιομηχανικό Πάρκο Νεοχωρούδας  <br> 54500, Ωραιόκαστρο, Θεσσαλονίκη</p>
										</div>										
									</li>
									<li>										
										<span class="licon-telephone"></span>
										<div>
											ΑΝΤΑΛΛΑΚΤΙΚΑ:
											<span>2310 781 295</span>
										</div>										
									</li>
									<li>										
										<div>
											ΑΠΟΣΥΡΣΗ:
											<span>800-1000-1000</span>
										</div>										
									</li>
								</ul>								
								<ul class="social-icons">
									<li><a href="https://www.linkedin.com/company/meteco-group" target="_blank"><i class="icon-linkedin-3"></i></a></li>									
									<li><a href="https://www.facebook.com/MetecoGroup" target="_blank"><i class="icon-facebook"></i></a></li>
								</ul>								
							</div>							
						</div>
					</div>					
				</div>				
			</div>
			<!--main menu-->			
			<div class="menu-holder">				
				<div class="container">					
					<div class="menu-wrap">						
						<div class="nav-item">							
							<nav id="main-navigation" class="main-navigation tt-uppercase">
								<ul id="menu" class="clearfix">
									<li ><a routerLink="/" routerLinkActive="current">Αρχική</a></li>
									<li class="dropdown"><a routerLink="listing">Ανταλλακτικά Αυτοκινήτων</a>
										<!--sub menu-->
										<div class="sub-menu-wrap">
											<ul>
												<li><a href="index-new-car-list.html">Προβολη αυτοκινητου</a></li>
											</ul>
										</div>
									</li>
									<li><a href="/">Απόσυρση Αυτοκινήτων</a>
									</li>
									<li class="dropdown"  routerLinkActive="current"><a href="#">Γιατί Meteco Parts;</a>
										<!--sub menu-->
										<div class="sub-menu-wrap">
											<ul>
												<li><a routerLink="/contact">Επικοινωνία</a></li>
												<li routerLinkActive="current"><a routerLink="/about">Ποιοι Είμαστε</a></li>
												<li><a routerLink="/faq">Συχνές Ερωτήσεις</a></li>
												<li><a href="#">Τα Νέα μας</a></li>
											</ul>
										</div>
									</li>
								</ul>
							</nav>							
							<!-- - - - - - - - - - - - - end Navigation - - - - - - - - - - - - - - - -->							
						</div>						
						<div class="search-holder">							
							<button class="search-button"></button>							
						</div>						
					</div>					
				</div>				
			</div>			
		</header>		
		<!-- - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - -->