h1, h2, h3, h4, h5, h6, .our-info-list > li {font-family: 'Roboto', sans-serif;}
#main-navigation > ul > li, .sub-menu-wrap ul li a {font-family: 'Roboto', sans-serif;}
#main-navigation > ul > li > a, .sub-menu-wrap ul li a {font-weight: 500}

.our-info-list > li div > p {font-weight:400}
.our-info-list > li a, .our-info-list > li div > span {font-weight:700;font-family: 'Roboto', sans-serif;}
.item-box h4.icons-box-title {font-size:20px}
.media-holder.type-3 .content-element5 h1 {font-size: 61px;font-weight:400;text-transform:none}
.breadcrumbs-wrap .page-title,.section-title {font-weight: 400;}
h3.section-title {text-transform: uppercase; font-weight: 500;margin-bottom: 40px;font-size: 28px;}
.model-loc {margin-top: 15px;}
.question-form.bg-sidebar-item p {text-align: justify;}
.font-weight-normal {font-weight:400 !important}
.text-muted {color: #999;}
.mb-10{margin-bottom: 10px;}
.pl-0{padding-left: 0px;}
.pr-0{padding-right: 0px;}
.pl-5{padding-left: 5px;}
.pr-5{padding-right: 5px;}

/* car list page  & single car*/
.dealers-section.product-type h1, .single-product-title h1 {font-size:26px}
h2.product-name {font-size: 18px;font-weight: normal;}