<div class="media-holder type-3" style="background-image: url('./assets/img/main-image-parts.jpg');">
	<div class="container">
		<div class="content-element5">					
			<h1>ΜΕΤΑΧΕΙΡΙΣΜΕΝΑ ΑΝΤΑΛΛΑΚΤΙΚΑ ΑΥΤΟΚΙΝΗΤΩΝ</h1>
			<h4>ONLINE ΑΝΤΑΛΛΑΚΤΙΚΑ ΑΠΟ ΑΥΤΟΚΙΝΗΤΑ ΑΠΟΣΥΡΣΗΣ</h4>					
		</div>
		<div class="tabs type-2 style-4 tabs-section clearfix">
			<!--tabs navigation-->                  
			<ul class="tabs-nav clearfix">
				<li>
					<a href="#tab-1">Βρες Μεταχειρισμένα Ανταλλακτικά</a>
				</li>
			</ul>
			<!--tabs content-->                 
			<div class="tabs-content">
				<div id="tab-1">							
					<p>Για ποιο αυτοκίνητο ψάχνεις ανταλλακτικά;</p>
					<div class="select-area tab-col-auto">
						<div class="custom-select">
							<div class="select-col">
								<select [ngModel]="selectedMake" (ngModelChange)="onMakeChange($event)" 
								name="select" 
								class="select-title">
								<option disabled [value]="selectUndefinedOptionValue">- Μάρκα -</option>
								<option [ngValue]="make" *ngFor="let make of makes">{{ make.name }}</option>
							</select>
						</div>	
					</div>							

					<div class="select-col">									
						<div class="custom-select">
							<div class="select-col">
								<select [ngModel]="selectedModel" (ngModelChange)="onModelChange($event)" 
								name="select" 
								class="select-title">
								<option [value]="selectUndefinedOptionValue">- Μοντέλο -</option>
								<option [ngValue]="model" *ngFor="let model of models">{{ model.name }}</option>
							</select>
						</div>			
					</div>									
				</div>		
				<div class="select-col">
					<a [routerLink]="['/metaxireismena-antallaktika']" [queryParams]="{ make: (selectedMake?selectedMake.id:''), model: (selectedModel?selectedModel.id:'') }" class="btn btn-style-3"><i class="licon-magnifier"></i>Αναζητηση</a>
				</div>								
			</div>
		</div>
	</div>
</div>				
</div>			
</div>
<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->		
<div id="content">	
	<div class="page-section-bg">				
		<div class="container">		
			<div class="our-services">						
				<div class="row">
					<div class="col-sm-4">			
						<div class="service-item">
							<i class="licon-cash-euro"></i>
							<h3 class="service-title">Επιστροφή χρημάτων</h3>
							<p>Αν δεν κάνουν, επέστρεψε τα ανταλλακτικά και πάρε τα χρήματα σου πίσω.</p>
						</div>								
					</div>
					<div class="col-sm-4">								
						<div class="service-item">
							<i class="licon-truck"></i>
							<h3 class="service-title">Αποστολή Πανελληνίως</h3>
							<p>Παρέλαβε τα ανταλλακτικά στο χώρο σου με κούριερ ή μεταφορικές εταιρίες.</p>
						</div>

					</div>
					<div class="col-sm-4">								
						<div class="service-item">
							<i class="licon-credit-card"></i>
							<h3 class="service-title">Όλοι οι τρόποι πληρωμής</h3>
							<p>Πλήρωσε με μετρητά, τραπεζική κατάθεση, αντικαταβολή ή πιστωτική κάρτα.</p>
						</div>								
					</div>
				</div>						
			</div>					
		</div>				
	</div>

	<div class="page-section">			
		<div class="container">					
			<div class="row">
				<div class="col-sm-9">							
					<h2 class="section-title">Πώς λειτουργεί;</h2>							
					<ul class="our-services flex-row flex-col-3">								
						<li>
							<h4>Βρες το αυτοκίνητο</h4>
							<p>Ψάξε την αποθήκη μας online και σε πραγματικό χρόνο.</p>
						</li>
						<li>
							<h4>Τι ανταλλακτικά ψάχνεις</h4>
							<p>Ρώτησε μας για τα ανταλλακτικά που χρειάζεσαι.</p>
						</li>
						<li>
							<h4>Αγόρασέ τα ανταλλακτικά</h4>
							<p>Έλα στον χώρο μας ή ζήτησε μας να σου τα στείλουμε.</p>
						</li>								
					</ul>							
				</div>
				<div class="col-sm-3">							
					<a href="#"><img src="./assets/images/262x231_banner1.jpg" alt=""></a>							
				</div>  
			</div>					
		</div>				
	</div>			
	<div class="page-section-bg">				
		<div class="container">					
			<h2 class="section-title align-center">Company Statistics</h2>
			<div class="row counter-wrap">
				<div class="col-lg-3 col-md-6 col-xs-6">
					<div class="counter">
						<span class="licon-medal-empty"></span>
						<div class="counter-inner">
							<h3 class="timer count-number" data-to="25" data-speed="1500">25</h3>
							<p>years of successful work</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-6">
					<div class="counter">
						<span class="licon-smile"></span>
						<div class="counter-inner">
							<h3 class="timer count-number" data-to="5970" data-speed="1500">5970</h3>
							<p>satisfied clients</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-6">
					<div class="counter">
						<span class="licon-earth"></span>
						<div class="counter-inner">
							<h3 class="timer count-number" data-to="17" data-speed="1500">17</h3>
							<p>dealer branches</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-6">
					<div class="counter">
						<span class="licon-car2"></span>
						<div class="counter-inner">
							<h3 class="timer count-number" data-to="44278" data-speed="1500">44278</h3>
							<p>vehicles for sale</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">							
					<div class="products-holder">								
						<h3 class="section-title">ΑΝΑΖΗΤΗΣΗ ΑΥΤΟΚΙΝΗΤΩΝ</h3>
						<div class="tabs tabs-section style-2 clearfix">
							<!--tabs navigation-->                  
							<ul class="tabs-nav clearfix">
								<li>
									<a href="#ana_marka">ΑΝΑ ΜΑΡΚΑ</a>
								</li>
							</ul>
							<!--tabs content-->                 
							<div class="tabs-content">
								<div id="ana_marka">											
									<div class="row">
										<div class="col-sm-3" *ngFor="let make of makes">													
											<ul class="custom-list type-5">
												<li>
													<a 
													[routerLink]="['/metaxireismena-antallaktika']" 
													[queryParams]="{ make: (make.id)}">{{ make.name }}
												</a>
											</li>
										</ul>													
									</div>
								</div>											
							</div>
						</div>
					</div>								
				</div>							
			</div>
			<div class="col-sm-4">							
				<div class="align-center">
					<a href="#"><img src="./assets/images/300x600_banner1.jpg" alt=""></a>
				</div>							
			</div>
		</div>  
	</div>				
</div>			
<div class="page-section-bg">				
	<div class="container">					
		<h3 class="section-title">ΤΕΛΕΥΤΑΙΕΣ ΑΓΓΕΛΙΕΣ</h3>					
		<div class="products-holder">						
			<div class="style-2 clearfix"> 
				<div id="nees_paralaves">									
					<div class="row flex-row">							
						<div class="col-md-3 col-xs-6" *ngFor="let car of cars | slice:0:4">
							<div class="product" >												
								<a routerLink="metaxireismena-antallaktika/{{car.id}}-{{car.make|lowercase|replacespacepipe}}-{{car.model|lowercase|replacespacepipe}}-{{car.year}}"><img [src]="car.images[0].path_view" alt="{{ car.make }} {{ car.model }}, {{ car.year }}"></a>
								<div class="product-description">
									<h5 class="product-name"><a routerLink="metaxireismena-antallaktika/{{car.id}}-{{car.make|lowercase|replacespacepipe}}-{{car.model|lowercase|replacespacepipe}}-{{car.year}}">{{ car.make }} {{ car.model }}, {{ car.year }}</a></h5>
									<div class="content-element8">							
										<ul class="car-detail-list">
											<li class="flex-row flex-justify">
												<div class="detail-col">
													<span>Ημερομηνία</span><span>{{car.created_at * 1000 | date: 'dd/MM/yyyy'}}</span>
												</div>									
											</li>
											<li class="flex-row flex-justify">
												<div class="detail-col">
													<span>Αμάξωμα</span><span>{{ car.trim }}</span>
												</div>									
											</li>
											<li class="flex-row flex-justify">
												<div class="detail-col">
													<span>Κυβισμός</span><span>{{ car.cubism }} <span class="contact-title">cc</span></span>
												</div>									
											</li>
											<li class="flex-row flex-justify">
												<div class="detail-col">
													<span>Χρώμα</span><span>{{ car.car_color }}</span>
												</div>									
											</li>
											<li class="flex-row flex-justify">
												<div class="detail-col">
													<span>Κινητήρας</span><span>{{ car.engine_number }}</span>
												</div>									
											</li>
											<li class="flex-row flex-justify">
												<div class="detail-col">
													<span>Καύσιμο</span><span>{{ car.fuel }}</span>
												</div>									
											</li>
										</ul>
									</div>
								</div>									
							</div>
						</div>
					</div>
				</div>				
			</div>						
		</div>					
		<div class="align-center">
			<a routerLink="/metaxireismena-antallaktika" class="btn">Προβολη Ολων</a>
		</div>					
	</div>				
</div>			
<div class="page-section half-bg-col">				
	<div class="img-col-left"><div class="col-bg" style="background-image: url('./assets/img/meteco-about.jpg');"></div></div>				
	<div class="container">
		<div class="row">
			<div class="col-md-6"></div>
			<div class="col-md-6">							
				<h2>Μεταχειρισμένα ανταλλακτικά αυτοκινήτων στη Θεσσαλονίκη</h2>
				<div class="icons-box">								
					<div class="row flex-row">									
						<div class="col-sm-12">										
							<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
							<div class="icons-wrap">											
								<div class="icons-item type-3">
									<div class="item-box">
										<i class="licon-plane"></i>
										<h4 class="icons-box-title">Οι No1 στην Βόρεια Ελλάδα</h4>
										<p>Με έδρα τη Θεσσαλονίκη, η Meteco είναι η μεγαλύτερη εταιρία απόσυρσης αυτοκινήτων στη Βόρεια Ελλάδα! Με εγκαταστάσεις, έκτασης άνω των 30 στρεμμάτων, βρίσκεται από παλιά μέχρι σύγχρονα τρακαρισμένα αυτοκίνητα.</p>
									</div>
								</div>											
							</div>										
						</div>
						<div class="col-sm-12">										
							<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
							<div class="icons-wrap">											
								<div class="icons-item type-3">
									<div class="item-box">
										<i class="licon-wrench"></i>
										<h4 class="icons-box-title">Εξιδεικευμένο προσωπικό</h4>
										<p>Οι μηχανικοί μας έχουν πολλά χρόνια εμπειρία. Θα σας βοηθήσουν να βρείτε το ανταλλακτικό που ψάχνετε και θα αναλάβουν την ανάκτηση του ανταλλακτικού από το αυτοκίνητο.</p>
									</div>
								</div>											
							</div>										
						</div>
						<div class="col-sm-12">										
							<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
							<div class="icons-wrap">											
								<div class="icons-item type-3">
									<div class="item-box">
										<i class="licon-truck"></i>
										<h4 class="icons-box-title">Αποστολή σε όλη την Ελλάδα</h4>
										<p>Δεν βρίσκεστε στη Θεσσαλονίκη; Δεν πειράζει! Μπορούμε να στείλουμε τα ανταλλακτικά στο χώρο σας. Συνεργαζόμαστε με τις κορυφαίες μεταφορικές και κούριερ.</p>
									</div>
								</div>
							</div>										
						</div>									
					</div>								
				</div>
			</div>
		</div>
	</div>				
</div>
<div class="call-out holder-bg half-bg-col">				
	<div class="img-col-left">
		<div class="col-bg" style="background-image: url('./assets/images/960x266_bg1.jpg');"></div>
	</div>
	<div class="img-col-right">
		<div class="col-bg" style="background-image: url('./assets/images/960x266_bg2.jpg');"></div>
	</div>				
	<div class="container">					
		<div class="row">						
			<div class="col-md-6">							
				<div class="align-center">
					<h2>Looking to Sell Your Car?</h2>
					<p>Get cash offers to your inbox in hours</p>
					<a href="#" class="btn btn-big">Submit Your Vehicle Now</a>
				</div>							
			</div>
			<div class="col-md-6">							
				<div class="align-center">
					<h2>Looking For A Car?</h2>
					<p>We have thousands of new and used cars for sale</p>
					<a href="#" class="btn btn-big">View Inventory</a>
				</div>							
			</div>
		</div>					
	</div>				
</div>			
</div>		
<!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->	

