<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->
		<div id="content">			
			<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->			
			<div class="breadcrumbs-wrap" [attr.data-bg]="'../assets/img/meteco-about-cover.jpg'">				
				<div class="container">					
					<h1 class="page-title">Ποιοι Είμαστε</h1>					
					<ul class="breadcrumbs">						
						<li><a routerLink="/">Αρχική</a></li>
						<li>Ποιοι Είμαστε</li>						
					</ul>					
				</div>				
			</div>			
			<div class="page-section">				
				<div class="container">					
					<div class="row">
						<div class="col-sm-6">							
								<img src="./assets/img/meteco-about-liga-logia.jpg" alt="Λίγα λόγια για τη METECO AE">							
						</div>
						<div class="col-sm-6">							
							<h2><b>Λίγα λόγια για τη METECO AE</b></h2>
							<p class="text-size-medium"><b>H Meteco ΑΕ είναι μια ηγετική εταιρία στο χώρο της ανακύκλωσης και παρέχει ένα εύρος υπηρεσιών σε ένα διαφοροποιημένο χαρτοφυλάκιο πελατών από τον Ιδιωτικό και Δημόσιο τομέα.</b></p>
							<ul class="custom-list type-2 text-size-medium">
								<li>ΕΤΟΣ ΙΔΡΥΣΗΣ: 1978</li>
								<li>ΕΓΚΑΤΑΣΤΑΣΕΙΣ ΕΚΤΑΣΗΣ: 35 ΣΤΡΕΜΜΑΤΩΝ</li>
								<li>ΕΜΠΟΡΙΚΕΣ ΣΧΕΣΕΙΣ ΜΕ 12 ΧΩΡΕΣ</li>
							</ul>
							<p class="text-size-medium">Η εταιρία είναι πιστοποιημένη κατά ISO 9001, ISO 14001 και OHSAS 18001 για το ολοκληρωμένο σύστημα διαχείρισης που εφαρμόζει.</p>							
						</div>
					</div>					
				</div>				
			</div>			
			<div class="page-section-bg">				
				<div class="container">					
					<h2 class="section-title">Σε αριθμούς…</h2>					
					<div class="row counter-wrap">						
						<div class="col-lg-3 col-md-6 col-xs-6">							
							<div class="counter">
								<span class="licon-medal-empty"></span>
								<div class="counter-inner">
									<h3 class="timer count-number" data-to="40" data-speed="500">0</h3>
									<p>έτη στην ανακύκλωση</p>
								</div>
							</div>							
						</div>
						<div class="col-lg-3 col-md-6 col-xs-6">							
							<div class="counter">
								<span class="licon-map"></span>
								<div class="counter-inner">
									<h3 class="timer count-number" data-to="40000" data-speed="1500">0</h3>
									<p>τ.μ. - Εγκαταστάσεις</p>
								</div>
							</div>							
						</div>
						<div class="col-lg-3 col-md-6 col-xs-6">							
							<div class="counter">
								<span class="licon-earth"></span>
								<div class="counter-inner">
									<h3 class="timer count-number" data-to="20" data-speed="1500">0</h3>
									<p>χώρες, εμπορικές σχέσεις</p>
								</div>
							</div>							
						</div>
						<div class="col-lg-3 col-md-6 col-xs-6">							
							<div class="counter">
								<span class="licon-car2"></span>
								<div class="counter-inner">
									<h3 class="timer count-number" data-to="1902" data-speed="1500">0</h3>
									<p>αυτοκίνητα - ανταλλακτικά</p>
								</div>
							</div>							
						</div>						
					</div>					
				</div>				
			</div>			
			<div class="page-section half-bg-col">				
				<div class="img-col-left"><div class="col-bg" data-bg="./assets/img/meteco-about.jpg"></div></div>				
				<div class="container">
					<div class="row">
						<div class="col-md-6"></div>
						<div class="col-md-6">              
							<h2><b>Ανακύκλωσης όπως πρέπει!</b></h2>
							<div class="icons-box">								
								<div class="row flex-row">									
									<div class="col-sm-12">										
										<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
										<div class="icons-wrap">											
											<div class="icons-item type-3">
												<div class="item-box">
													<i class="licon-recycle"></i>
													<h4 class="icons-box-title">Υψηλές περιβαντολλογικές επιδόσεις</h4>
													<p  class="text-size-medium">Εφαρμόζουμε Σύστημα Περιβαντολλογικής Διαχείρισης πιστοποιημένο κατά ISO 14001:2004. Ολόκληρη η λειτουργία της εταιρίας είναι προσανατολισμένη στην προστασία του περιβάλλοντος.</p>
												</div>
											</div>											
										</div>										
									</div>
									<div class="col-sm-12">										
										<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
										<div class="icons-wrap">											
											<div class="icons-item type-3">
												<div class="item-box">
													<i class="licon-trophy"></i>
													<h4 class="icons-box-title">Ποιότητα υπηρεσιών</h4>
													<p  class="text-size-medium">Η πιστοποίηση μας κατά το Διεθνές Πρότυπο Ποιότητας ISO 9001:2008 επισφραγίζει τη συνεχή μας προσπάθεια για ποιοτικές υπηρεσίες. Επενδύουμε συνεχώς σε υποδομές και ανθρώπινο κεφάλαιο.</p>
												</div>
											</div>											
										</div>										
									</div>
									<div class="col-sm-12">										
										<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
										<div class="icons-wrap">											
											<div class="icons-item type-3">
												<div class="item-box">
													<i class="licon-heart"></i>
													<h4 class="icons-box-title">Υγεία και ασφάλεια κατά την εργασία</h4>
													<p  class="text-size-medium">Είμαστε πιστοποιημένοι για το Σύστημα Υγείας και Ασφάλειας κατά την Εργασία που εφαρμόζουμε. Φροντίζουμε στην πράξη για αυτό μέσα από την εφαρμογή αυστηρών κανόνων και μέτρων προστασίας.</p>
												</div>
											</div>											
										</div>										
									</div>									
								</div>								
							</div>							
						</div>
					</div>
				</div>				
			</div>
			
			<div class="page-section-bg">				
				<div class="container">					
					<div class="carousel-type-3 portfolio-holder style-2">						
						<div class="owl-carousel" data-max-items="3" data-item-margin="30">							
							<div class="item-carousel">
								<div class="project">									
									<div class="project-image">										
										<img src="./assets/img/meteco-about-us-1.jpg" alt="εγκαταστάσεις METECO Α.Ε">
										<a href="./assets/img/meteco-about-us-1.jpg" class="project-link project-action fancybox" data-fancybox="group"></a>								
									</div>									
								</div>
							</div>							
							<div class="item-carousel">
								<div class="project">									
									<div class="project-image">										
										<img src="./assets/img/meteco-about-us-2.jpg" alt="εγκαταστάσεις METECO Α.Ε">
										<a href="./assets/img/meteco-about-us-2.jpg" class="project-link project-action fancybox" data-fancybox="group"></a>								
									</div>									
								</div>
							</div>							
							<div class="item-carousel">
								<div class="project">									
									<div class="project-image">										
										<img src="./assets/img/meteco-about-us-3.jpg" alt="εγκαταστάσεις METECO Α.Ε">
										<a href="./assets/img/meteco-about-us-3.jpg" class="project-link project-action fancybox" data-fancybox="group"></a>								
									</div>									
								</div>
							</div>		
							<div class="item-carousel">
								<div class="project">									
									<div class="project-image">										
										<img src="./assets/img/meteco-about-us-4.jpg" alt="εγκαταστάσεις METECO Α.Ε">
										<a href="./assets/img/meteco-about-us-4.jpg" class="project-link project-action fancybox" data-fancybox="group"></a>								
									</div>									
								</div>
							</div>
							<div class="item-carousel">
								<div class="project">									
									<div class="project-image">										
										<img src="./assets/img/meteco-about-us-5.jpg" alt="εγκαταστάσεις METECO Α.Ε">
										<a href="./assets/img/meteco-about-us-5.jpg" class="project-link project-action fancybox" data-fancybox="group"></a>								
									</div>									
								</div>
							</div>
							<div class="item-carousel">
								<div class="project">									
									<div class="project-image">										
										<img src="./assets/img/meteco-about-us-6.jpg" alt="εγκαταστάσεις METECO Α.Ε">
										<a href="./assets/img/meteco-about-us-6.jpg" class="project-link project-action fancybox" data-fancybox="group"></a>								
									</div>									
								</div>
							</div>
						</div>						
					</div>					
				</div>				
			</div>
			
			
			<div class="page-section">
				<div class="content-element">					
					<div class="container">						
						<div class="content-element">												
							<div class="icons-box">								
								<div class="row flex-row">									
									<div class="col-md-4 col-xs-12">                  
										<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->        
										<div class="icons-wrap">
											<div class="icons-item">
												<div class="item-box">
													<i class="licon-car2"></i>
													<h4 class="icons-box-title">Απόσυρση Αυτοκινήτων</h4>
													<p class="text-size-medium">Είμαστε Επίσημο Κέντρο Απόσυρσης Αυτοκινήτων.</p>
													<a href="https://metecoaposirsi.gr" class="info-btn" target="_blank">Περισσότερα </a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-xs-6">                    
										<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->        
										<div class="icons-wrap">
											<div class="icons-item">
												<div class="item-box">
													<i class="licon-recycle"></i>
													<h4 class="icons-box-title">Ανακύκλωση Μετάλλων</h4>
													<p class="text-size-medium">Αγοράζουμε μια σειρά από μέταλλα προς ανακύκλωση</p>
													<a href="https://metecoanakiklosi.gr/ypiresies-anakyklosi-metallon/anakyklosi-agora-metallon/" class="info-btn" target="_blank">Περισσότερα </a>
												</div>
											</div>
										</div>
										
									</div>
									<div class="col-md-4 col-xs-6">                    
										<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->        
										<div class="icons-wrap">
											<div class="icons-item">
												<div class="item-box">
													<i class="licon-scale-truck"></i>
													<h4 class="icons-box-title">Αποξήλωση εργοστασίων</h4>
													<p class="text-size-medium">Αγοράζουμε απαξιωμένο τεχνικό εξοπλισμό.</p>
													<a href="https://metecoanakiklosi.gr/ypiresies-anakyklosi-metallon/apoksilosi-ergostasion/" class="info-btn" target="_blank">Περισσότερα </a>
												</div>
											</div>
										</div>                    
									</div>									
								</div>								
							</div>
							
							<div class="icons-box">
								<div class="row flex-row">                  
									<div class="col-md-4 col-xs-12">                  
										<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->        
										<div class="icons-wrap">
											<div class="icons-item">
												<div class="item-box">
													<i class="licon-wrench"></i>
													<h4 class="icons-box-title">Μεταχειρισμένα ανταλλακτικά</h4>
													<p class="text-size-medium">Παρέχουμε μεταχειρισμένα ανταλλακτικά αυτοκινήτων.</p>
													<a href="https://metecoparts.gr/" class="info-btn" target="_blank">Περισσότερα </a>
												</div>
											</div>
										</div>										
									</div>
									<div class="col-md-4 col-xs-6">                    
										<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->        
										<div class="icons-wrap">
											<a href="#" class="icons-item type-2">
												<img src="./assets/img/meteco-about6x6.jpg" alt="Παρέχουμε ολοκληρωμένες υπηρεσίες ανακύκλωσης και Απόσυρσης αυτοκινήτων">
												<div class="item-box">
													<h4 class="icons-box-title">Παρέχουμε ολοκληρωμένες υπηρεσίες ανακύκλωσης και Απόσυρσης αυτοκινήτων</h4>
												</div>
											</a>
										</div>                    
									</div>
									<div class="col-md-4 col-xs-6">                    
										<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->        
										<div class="icons-wrap">
											<div class="icons-item">
												<div class="item-box">
													<i class="licon-recycle"></i>
													<h4 class="icons-box-title">Μηχανήματα Ανακύκλωσης</h4>
													<p class="text-size-medium">Διαθέτουμε εξοπλισμό επεξεργασίας απόβλήτων.</p>
													<a href="https://metecotech.gr/" class="info-btn" target="_blank">Περισσότερα </a>
												</div>
											</div>
										</div>										
									</div>																	
								</div>								
							</div>
						</div>
					</div>
					
				</div>
				<!--/ content-element -->				
			</div>
			
			
			
			<div class="call-out holder-bg half-bg-col">				
				<div class="img-col-left"><div class="col-bg" data-bg="./assets/images/960x266_bg1.jpg"></div></div>				
				<div class="img-col-right"><div class="col-bg" data-bg="./assets/images/960x266_bg2.jpg"></div></div>				
				<div class="container">					
					<div class="row">						
						<div class="col-md-6">							
							<div class="align-center">
								<h2>Looking to Sell Your Car?</h2>
								<p>Get cash offers to your inbox in hours</p>
								<a href="#" class="btn btn-big">Submit Your Vehicle Now</a>
							</div>							
						</div>
						<div class="col-md-6">							
							<div class="align-center">
								<h2>Looking For A Car?</h2>
								<p>We have thousands of new and used cars for sale</p>
								<a href="#" class="btn btn-big">View Inventory</a>
							</div>
							
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
		<!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->
		<script type="text/javascript" src="./assets/js/plugins.js"></script>
		