<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->		
		<footer id="footer" class="footer">			
			<!-- Top footer -->
			<div class="top-footer">
				<div class="container">					
					<div class="row">						
						<div class="col-md-3 col-sm-6">							
							<div class="widget">								
								<div class="content-element8">
									<h5 class="widget-title">Σχετικά</h5>
									<p>
										<span class="sub-title">Meteco Α.Ε.</span>
										Η METECO AE είναι μια ηγετική εταιρία στο χώρο της ανακύκλωσης παρέχοντας υπηρεσίες σε οργανισμούς και επιχειρήσεις του ιδιωτικού και δημόσιου τομέα.
									</p>
								</div>
								<div class="content-element8">
									<ul class="contact-list">
										<li><span>Τηλ:</span>2310781295</li>
										<li><span>Fax:</span>2310785421</li>
										<li><span>E-mail:</span><a href="mailto:#" class="link-text">parts@metecoparts.gr</a></li>
									</ul>
								</div>								
							</div>							
						</div>
						<div class="col-md-3 col-sm-6">							
							<div class="widget">
								<div class="content-element3">
									<h5 class="widget-title">Ωράριο</h5>
									<p>
										<span class="sub-title">Τμημα Ανταλλακτικων:</span>
										Mon - Sat: 9:00 AM - 6:00 PM <br> Sunday is closed 
									</p>
								</div>
								<div class="content-element3">
									<p>
										<span class="sub-title">Service:</span>
										Mon - Sat: 9:00 AM - 6:00 PM <br> Sunday is closed 
									</p>
								</div>
							</div>							
						</div>
						<div class="col-md-3 col-sm-6">							
							<div class="widget">
								<h5 class="widget-title">Services</h5>
								<ul class="info-links">									
									<li><a href="#">New Cars For Sale</a></li>
									<li><a href="#">Pre-owend Cars</a></li>
									<li><a href="#">Sell My Car</a></li>
									<li><a href="#">Car Valuations</a></li>
									<li><a href="#">Financing & Insurance</a></li>
									<li><a href="#">Service & Repair</a></li>									
								</ul>
							</div>							
						</div>
						<div class="col-md-3 col-sm-6">							
							<div class="widget">
								<h5 class="widget-title">Συνδέσου μαζί μας</h5>
								<ul class="social-icons">
									<li><a href="https://www.linkedin.com/company/meteco-group" target="_blank"><i class="icon-linkedin-3"></i></a></li>
									<li><a href="https://www.facebook.com/MetecoGroup" target="_blank"><i class="icon-facebook"></i></a></li>									
								</ul>
							</div>							
							<div class="widget">
								<h5 class="widget-title">Newsletter Sign Up</h5>
								<form id="newsletter">
									<button type="submit" class="btn-email btn btn-style-2 f-right" data-type="submit"><i class="licon-envelope"></i></button>
									<div class="wrapper">
										<input type="email" placeholder="Enter your email address" name="newsletter-email">
									</div> 
								</form>
							</div>							
						</div>						
					</div>					
				</div>
			</div>			
			<!-- Copyright -->
			<div class="copyright-section">				
				<div class="container">					
					<div class="flex-row flex-justify flex-center">						
						<div class="copyright">{{yearFooter | date: 'yyyy'}} &copy;  METECO A.E. All Rights Reserved - Crafted with <i class="licon-heart footer-copy"></i> by <a href="https://catalitis.gr" target="_blank">CATALITIS</a></div>					
							<ul class="info-links hr-type">
								<li><a href="https://metecogroup.com/el/i-etairia/" target="_blank">Η εταιρία</a></li>
								<li><a href="https://metecogroup.com/el/career/" target="_blank">Σταδιοδρομία</a></li>
								<li><a href="https://metecogroup.com/el/review/" target="_blank">Αξιολόγηση</a></li>
								<li><a href="https://metecogroup.com/el/nea-enimerosi/" target="_blank">Ενημέρωση</a></li>
								<li><a href="https://metecogroup.com/el/newsletter/" target="_blank">Newsletter</a></li>
								<li><a href="terms.html">Όροι & προϋποθέσεις</a></li>
							</ul>						
						</div>					
					</div>				
					<a href="#" class="btn btn-big btn-style-3"><i class="licon-bubbles"></i>Chat With Us</a>				
				</div>			
			</footer>		
			<!-- - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - -->		
		<!-- - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - -->	
		