<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->		
		<div class="page-404-section" data-bg="./assets/img/notfound404.jpg">
			
			<div class="container">
				
				<div class="inner-404">
					
					<h1 style="font-size: 130px;">:(</h1>
					<h2>404 σφάλμα </h2>
					<p>Ωχ, παρουσιάστηκε σφάλμα. Η σελίδα δεν βρέθηκε! 
					<br> Go <a href="#">Αρχική σελίδα</a> ή ξανά δοκιμάστε:</p>
					
					<form class="lineform">
						<button type="submit" class="btn-email btn btn-style-2 f-right icon-btn"><i class="licon-magnifier"></i></button>
						<div class="wrapper">
							<input type="text" placeholder="Εισάγετε λέξεις-κλειδιά">
						</div> 
					</form>
					
				</div>
				
			</div>
			
		</div>
			<!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->